.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 50px;
}
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    --gray950: #111111;
    --gray500: #6B6B6B;
    --yellow-card: #F4D04E;

    --small-text: clamp(0.75rem, 1.9vw, 0.875rem);
    --medium-text: clamp(0.875rem, 2vw, 1rem);
    --large-text: clamp(1.25rem, 3.1vw, 1.5rem);
}

* {
    box-sizing: border-box;
}

html {
    font-family: Figtree, sans-serif;
}

body {
    background-color: var(--yellow-card);
    overflow: hidden;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: clamp(327px, 50vw,384px);
    height: clamp(501px, 68vw, 522px);

    padding: 24px;
    background-color: white;
    color: var(--gray950);

    border: 1px solid var(--gray950);
    border-radius: 20px;
    box-shadow: 8px 8px  black;
}

.blog-image {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.content {
    padding: 0;
    margin-top: 24px;
}

.category {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 800;

    font-size: var(--small-text);


    line-height: 150%;
    background-color: #F4D04E;
    border-radius: 4px;
}

.category p {
    margin: 0;
    padding: 4px 12px;
}

.publish-date {
    
    margin-top: 12px;
    font-weight: 500;

    font-size: var(--small-text);
    
    line-height: 150%;
}

.title {
    margin-top: 0;
    font-weight: 800;

    font-size: var(--large-text);

    line-height: 150%;
    display: inline-block;
}

.title:hover {
    cursor: pointer;
    color: var(--gray500);
}

.title:active {
    color: var(--yellow-card);
}

.description {
    margin: 0;
    font-weight: 500;

    font-size: var(--medium-text);

    line-height: 150%;
    color: var(--gray500);
}

.author {
    margin-top: 7px;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.author img {
    width: 32px;
    height: 32px;
}

.author p {
    font-weight: 800;
    margin-left: 12px;
}